<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Query</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>

    <body>
        <h1>Query Page</h1>
        <form action="/query_result" method="POST">
            <label for="query">Please enter your query: </label>
            <input type="text" id="query" name="query" placeholder="...">
            <button type="submit">Search</button>
        </form>
    </body>

</html>